<div class="hero-unit">
	<div class="row-fluid">
		<h1>Can I Borrow This?</h1>
	</div>	
	<p>
		We Are Going To Launch Soon!
	</p>

	<p>
		<%= link_to "Notify Me!", "#", class: "btn btn-primary btn-large" %> 
	</p>	

	<p2>
		<small>
		To be notified when we do, enter your email address and we will keep you updated.
		</small>
	</p2>
</div>
